<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataUtils.Properties.Settings.MABDBConnectionString"
            connectionString="Data Source=PD-PC-WIN8\SQLEXPRESS;Initial Catalog=MABDB;Persist Security Info=True;User ID=MABDBAppUser;Password=MAPLTest123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>